{% extends 'account/base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% get_providers as socialaccount_providers %}
            <div class="centered">
                {% if socialaccount_providers %}
                    <div id="facebookLogin">
                         <a title="Facebook" class="socialaccount_provider button facebook" href="/accounts/facebook/login/?process=login">Login with Facebook</a>
                    </div>
                {% endif %}
                <p id="notCreatedAccountText">{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
             </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" class="form-horizontal" action="{% url 'account_login' %}"> {% csrf_token %}
                <fieldset>
                <legend>Login</legend>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-2 control-label" for="id_login">Email:</label>
                        <div class="col-sm-7">
                           <input id="id_login" class="form-control" maxlength="254" name="login" type="email"
                                   placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-2 control-label" for="id_password">Password:</label>
                        <div class="col-sm-7">
                            <input id="id_password" class="form-control" name="password" type="password"
                               placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-2">
                            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                        <div class="col-sm-offset-3 col-sm-2">
                            <div class="centered">
                                <button type="submit" class="btn btn-success btn-block" value="login">Login</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}